<template>
  <div class="dashboard mx-4 mt-3">
    <Navbar/>
    <h1 class="subheading grey--text">Data Table testing</h1>
    <DataTable :headers="headers" :schema="schema"/>
  </div>
</template>

<script>
import DataTable from "@/components/DataTable";
import Navbar from "@/components/Navbar";

export default {
  components: { DataTable, Navbar },
  data() {
    return {
      schema: {
        title: "Dessert ",
        type: "object",
        required: ["name"],
        properties: {
          id: {},
          name: {
            type: "string",
            description: "The person's first name."
          },
          calories: {
            description: "The person's last name.",
            type: "number",
            minimum: 0
          },
          fat: {
            description:
              "Age in years which must be equal to or greater than zero.",
            type: "number",
            minimum: 0
          },
          protein: {
            description:
              "Age in years which must be equal to or greater than zero.",
            type: "number",
            minimum: 0
          },
          carbs: {
            description:
              "Age in years which must be equal to or greater than zero.",
            type: "number",
            minimum: 0
          }
        }
      },
      headers: [
        {
          text: "Dessert (100g serving)..",
          align: "left",
          sortable: false,
          value: "name"
        },
        { text: "Calories", value: "calories",sortable: false },
        { text: "Fat (g)", value: "fat",sortable: false },
        { text: "Protein (g)", value: "protein",sortable: false },
        { text: "Carbs (g)", value: "carbs",sortable: false },
        { text: "Action", value: "",sortable: false }
      ]
    };
  }
};
</script>