<template>
  <div class="dashboard mx-4 mt-3">
    <Navbar/>
    <h1 class="subheading grey--text">{{card_title}}</h1>

    <div>Data{{dataObject}}</div>

    <v-container grid-list-md text-xs-center>
      <v-layout row class justify-center align-center>
        <v-card class="text-xs-center" width="500" flat>
          <v-card-text>
            <v-form v-model="formValid" class>
              <v-jsonschema-form
                v-if="schema"
                :schema="schema"
                :model="dataObject"
                :options="options"
                @error="showError"
                @change="showChange"
                @input="showInput"
              />
            </v-form>
          </v-card-text>
        </v-card>
      </v-layout>

      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <img :src="imageUrl" height="150" v-if="imageUrl">
          <v-text-field
            label="Select Image"
            @click="pickFile"
            v-model="imageName"
            prepend-icon="attach_file"
          ></v-text-field>
          <input
            type="file"
            style="display: none"
            ref="image"
            accept="image/*"
            @change="onFilePicked"
          >
        </v-flex>
      </v-layout>

      <v-layout row class wrap justify-center>
        <v-flex xs6>
          <v-btn color="primary" @click="saveButton" :loading="isLoading">Save</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Vue from "vue";
import Vuetify from "vuetify";
import "vuetify/dist/vuetify.min.css";
import Draggable from "vuedraggable";
import axios from "axios";
import VueAxios from "vue-axios";
import Swatches from "vue-swatches";
import "vue-swatches/dist/vue-swatches.min.css";
import VJsonschemaForm from "@koumoul/vuetify-jsonschema-form";
import "@koumoul/vuetify-jsonschema-form/dist/main.css";
import { Sketch } from "vue-color";

Vue.use(Vuetify);
Vue.use(VueAxios, axios);

Vue.component("swatches", Swatches);
Vue.component("draggable", Draggable);
Vue.component("color-picker", Sketch);

import Navbar from "@/components/Navbar";
import fire from "@/main";

export default {
  components: { VJsonschemaForm, Navbar },
  created() {
    this.db = fire.db;
    this.storage = fire.storage;

    if (this.id == "0") {
      console.log("creating new card");
      this.creatingNewCard = true;
      this.card_title = "Create new card";
      return;
    }
    var cardRef = fire.db.collection("cards").doc(this.id);
    cardRef
      .get()
      .then(doc => {
        if (!doc.exists) {
          console.log("No such document!");
        } else {
          console.log("Document data:", doc.data());
          //this.dataObject = doc.data();
          this.dataObject.name = doc.data().name;
          this.dataObject.role = doc.data().role;
          this.imageUrl = doc.data().imageUrl;
          this.dataObject.id = this.id;
          this.dataObject.date = doc.data().date;
        }
      })
      .catch(err => {
        console.log("Error getting document", err);
      });
  },
  props: ["id"],
  data() {
    return {
      isLoading: false,
      dataObject: {
        name: "",
        role: ""
      },
      creatingNewCard: false,
      imageName: "",
      imageUrl: "",
      imageFile: "",
      db: null,
      storage: null,
      card_title: "",
      schema: {
        type: "object",
        required: ["name"],
        properties: {
          name: {
            type: "string",
            description:
              "\nThe person's first name.\n\nThis description can be a long text with markdown content.\n\n  - a list item\n  - another one\n  "
          },
          role: {
            type: "string",
            description:
              "\nThe person's first name.\n\nThis description can be a long text with markdown content.\n\n  - a list item\n  - another one\n  "
          },
          date: {
            type: "string",
            description:
              "\nThe person's first name.\n\nThis description can be a long text with markdown content.\n\n  - a list item\n  - another one\n  "
          }
        }
      },
      imageChanged: false,
      formValid: false,
      options: {
        debug: false,
        disableAll: false,
        autoFoldObjects: true
      }
    };
  },
  methods: {
    saveExisting: function() {
      let database = this.db;
      let key = this.id;
      this.isLoading = true;
      console.log(this.dataObject);
      var cardRef = this.db.collection("cards").doc(this.id);
      cardRef
        .update(this.dataObject)
        .then(() => {
          console.log("record updated:");
        })
        .then(() => {
          if (this.imageChanged) {
            console.log("image changed. uploading the new image");
            const filename = this.imageName;
            const ext = filename.slice(filename.lastIndexOf("."));
            return this.storage
              .ref("cards/" + this.id + "." + ext)
              .put(this.imageFile);
          } else {
            throw "Image not changed. all cool";
          }
        })
        .then(fileData => {
          var fullPath = fileData.metadata.fullPath;
          console.log(fullPath);
          var pathReference = this.storage.ref(fullPath);
          return pathReference.getDownloadURL();
        })
        .then(function(url) {
          // `url` is the download URL for 'images/stars.jpg'
          console.log("Full url = " + url);
          // We
          return database
            .collection("cards")
            .doc(key)
            .update({ imageUrl: url });
        })
        .then(() => {
          console.log("Success");
          this.$router.push("/cards");
          this.isLoading = false;
        })
        .catch(error => {
          console.log(error);
          this.$router.push("/cards");
          this.isLoading = false;
        });
    },
    uploadNew: function() {
      this.isLoading = true;
      console.log("Upload started");
      let key;
      let database = this.db;
      let router = this.$router;
      let isLoading = this.isLoading;

      this.db
        .collection("cards")
        .add(this.dataObject)
        .then(data => {
          console.log(isLoading);
          key = data.id;
          console.log("file uploaded:" + key);
          return key;
        })
        .then(key => {
          // Now we need to store the file
          if (this.imageName == "") throw "No image";
          const filename = this.imageName;
          const ext = filename.slice(filename.lastIndexOf("."));
          return this.storage
            .ref("cards/" + key + "." + ext)
            .put(this.imageFile);
        })
        .then(fileData => {
          var fullPath = fileData.metadata.fullPath;
          console.log(fullPath);
          var pathReference = this.storage.ref(fullPath);
          return pathReference.getDownloadURL();
        })
        .then(function(url) {
          // `url` is the download URL for 'images/stars.jpg'
          console.log("Full url = " + url);
          console.log("Key is " + key);
          // We just need to update the image in the database entry

          return database
            .collection("cards")
            .doc(key)
            .update({ imageUrl: url });
        })
        .then(() => {
          console.log("Success");
          this.$router.push("/cards");
          this.isLoading = false;
        })
        .catch(function(error) {
          // Handle any errors
          console.log(error);
          isLoading = false;
          router.push("/cards");
        });
    },
    pickFile() {
      this.$refs.image.click();
    },

    onFilePicked(e) {
      this.imageChanged = true;
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.imageUrl = fr.result;
          //console.log("imageUrl");
          this.imageFile = files[0]; // this is an image file that can be sent to server...
          //this.getImages();
        });
      } else {
        this.imageName = "";
        this.imageFile = "";
        this.imageUrl = "";
      }
    },
    saveButton() {
      console.log(this.dataObject);
      if (this.dataObject.id != null) {
        console.log("id set. updating");
        this.saveExisting();
      } else {
        this.uploadNew();
      }
    },
    showError(err) {
      window.alert(err);
    },
    showChange(e) {
      console.log('"change" event', e);
    },
    showInput(e) {
      console.log('"input" event', e);
      console.log(this.dataObject);
    }
  }
};
</script>

<style scoped>
.resultContainer {
  height: 200px;
}

.item {
  min-height: 50px;
  min-width: 80px;
  margin: 10px;
}
</style>
