<template>
  <div class="dashboard mx-4 mt-3">
    <Navbar/>
    <h1 class="subheading grey--text">Custom Data Table testing</h1>
    <CustomDataTable data_collection="/testcdt" :schema="schema"/>
  </div>
</template>

<script>
import CustomDataTable from "@/components/CustomDataTable";
import Navbar from "@/components/Navbar";

export default {
  components: { CustomDataTable, Navbar },
  data() {
    return {
      schema: {
        title: "Title Custom Data Table",
        type: "object",
        required: ["name"],
        properties: {
          id: {},
          name: {
            type: "string",
            description: "The person's first name.",
            table_header: {
              text: "Dessert (100g serving)",
              align: "left",
              sortable: false,
              value: "name"
            }
          },
          calories: {
            description: "The person's last name.",
            type: "string",
            table_header: {
              text: "Calories",
              value: "calories",
              sortable: false
            }
          },
          fat: {
            description:
              "Age in years which must be equal to or greater than zero.",
            type: "number",
            minimum: 0,
            table_header: {
              text: "Fat",
              value: "fat",
              sortable: false
            }
          },
          protein: {
            description:
              "Age in years which must be equal to or greater than zero.",
            type: "number",
            minimum: 0,
            table_header: {
              text: "Protein",
              value: "protein",
              sortable: false
            }
          },
          carbs: {
            description:
              "Age in years which must be equal to or greater than zero.",
            type: "number",
            minimum: 0,
            table_header: {
              text: "Carbs",
              value: "carbs",
              sortable: false
            }
          },
          newcarbs: {
            description:
              "New Age in years which must be equal to or greater than zero.",
            type: "number",
            minimum: 0,
            table_header: {
              text: "New Carbs",
              value: "newcarbs",
              sortable: false
            }
          },
          description: {
            description: "A longer text for the description.",
            type: "string",
            maxLength: 2000,
            table_header: {
              text: "Descr",
              value: "descr",
              sortable: false
            }
          },
          aDate: {
            title: "A date",
            type: "string",
            format: "date",
            description: "A date.",
            table_header: {
              text: "Date",
              value: "date",
              sortable: false
            }
          }
        }
      }
    };
  }
};
</script>