<template>
  <div class="dashboard mx-4 mt-3">
    <v-snackbar v-model="snackbar" :timeout="2000" bottom class="mb-2" color="success">
      <span>Awesome! You added a new project.</span>
      <v-btn color="white" flat @click="snackbar = false">Close</v-btn>
    </v-snackbar>
    
    <Navbar/>
<Popup ttt="oukeiii"/>
<Popup ttt="mmmm"/>

    <v-container fluid px-0>
      <v-checkbox v-model="checkbox" :label="`Checkbox 1: ${checkbox.toString()}`"></v-checkbox>
      <v-radio-group v-model="radioGroup">
        <v-radio v-for="n in 3" :key="n" :label="`Radio ${n}`" :value="n"></v-radio>
      </v-radio-group>
      <v-switch
        v-on:change="onChange"
        color="primary"
        v-model="switch1"
        :label="`Switch 1: ${switch1.toString()}`"
      ></v-switch>
    </v-container>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import Popup from "@/components/Popup";

export default {
  components: { Navbar, Popup },
 
  data() {
    return {
      checkbox: true,
      radioGroup: 1,
      switch1: true,
      snackbar: false
    };
  },
  methods: {
    onChange: function() {
      this.snackbar=true;
      console.log("LLLLL" + this.switch1);
      Popup.test();
    }
  }
};
</script>

