<template>
  <v-card>
    <v-card-title>
      Desserts
      <PopupFormValidation title="Test" btn_action="add" :schema="schema" :dataObject="dummyData"/>
      <v-spacer></v-spacer>
      <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search"></v-text-field>
    </v-card-title>
    <v-data-table
      hide-actions
      v-model="selected"
      :headers="headers"
      :items="items"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <tr @click="showAlert(props.item.id)">
          <td v-for="project in dataColumns.slice(1)" :key="project">{{props.item[project]}}</td>
          <td class="text-xs-right">
            {{props.item.id}}
            <PopupFormValidation
              title="Test"
              btn_action="edit"
              :schema="schema"
              :dataObject="props.item"
            />
          </td>
        </tr>
      </template>
      <v-alert
        slot="no-results"
        :value="true"
        color="error"
        icon="warning"
      >Your search for "{{ search }}" found no results.</v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
import fire from "@/main";
import PopupFormValidation from "@/components/PopupFormValidation";

export default {
  props: ["schema", "headers"],

  components: { PopupFormValidation },

  created() {
    Object.keys(this.schema.properties).forEach(item => {
      console.log(item);
      this.dataColumns.push(item);
    });
    fire.db.collection("deserts").onSnapshot(res => {
      const changes = res.docChanges();
      changes.forEach(change => {
        if (change.type === "added") {
          this.items.push({
            ...change.doc.data(),
            id: change.doc.id
          });
        }
      });
    });
  },
  methods: {
    showAlert(msg) {
      window.alert(msg);
    }
  },
  data() {
    return {
      dataColumns: [],
      dummyData: {
        name: ""
      },
      selected: [],
      search: "",
      
      items: []
    };
  }
};
</script>