
<template>
  <v-form ref="myForm" v-model="formValid">
    <v-jsonschema-form
      v-if="schema"
      :schema="schema"
      :model="dataObject"
      :options="options"
      @error="showError"
      @change="showChange"
      @input="showInput"
    />
    <v-spacer></v-spacer>
    <!--<div>Data {{dataObject}}</div>-->
    <v-btn flat @click="submit" class="success mx-0 mt-3" :loading="loading">{{action_name}}</v-btn>&nbsp;
    <v-btn flat @click="reset" class="success mx-0 mt-3" :loading="loading">Cancel</v-btn>
  </v-form>
</template>

<script>
import Vue from "vue";
import Vuetify from "vuetify";
import "vuetify/dist/vuetify.min.css";
import Draggable from "vuedraggable";
import axios from "axios";
import VueAxios from "vue-axios";
import Swatches from "vue-swatches";
import "vue-swatches/dist/vue-swatches.min.css";
import VJsonschemaForm from "@koumoul/vuetify-jsonschema-form";
import "@koumoul/vuetify-jsonschema-form/dist/main.css";
import { Sketch } from "vue-color";

Vue.use(Vuetify);
Vue.use(VueAxios, axios);

Vue.component("swatches", Swatches);
Vue.component("draggable", Draggable);
Vue.component("color-picker", Sketch);

import fire from "@/main";

export default {
  components: { VJsonschemaForm },
  data: function() {
    return {
      window,
      schemaStr: "{}",
      schemaError: null,
      options: null,
      formValid: false,
      loading: null,
      debug: true,
      data: null
    };
  },
  props: [
    "schema",
    "action_name",
    "dataObject",
    "btn_action",
    "data_collection"
  ],

  methods: {
    reset() {
      console.log("-----");
      this.$refs.myForm.reset();
      console.log(this.$refs.myForm);
      this.$emit("testEvent");
    },
    submit() {
      console.log("Submit called");

      if (this.$refs.myForm.validate()) {
        this.loading = true;
        console.log(this.$refs.myForm);
        console.log(this.dataObject);
        console.log("-----");
        if (this.btn_action == "add") {
          console.log("---add--");

          var clone = {};

          Object.keys(this.dataObject).forEach(item => {
            if (item != "id" && this.dataObject[item] != undefined) {
              console.log(item + ":" + this.dataObject[item]);
              clone[item] = this.dataObject[item];
            }
            //this.dataColumns.push(item);
          });

          console.log(clone);
          fire.db
            .collection(this.data_collection)
            .add(clone)
            .then(() => {
              this.$emit("testEvent");
              this.$refs.myForm.reset();
            });
          this.loading = false;
        } else {
          console.log("Editing record");

          fire.db
            .collection(this.data_collection)
            .doc(this.dataObject.id)
            .set(this.dataObject)
            .then(() => {
              this.$emit("testEvent");
            });
          this.loading = false;
        }
      } else {
        console.log("Form not valid");
      }
    },

    showError(err) {
      window.alert(err);
    },
    showChange(e) {
      if (this.debug) console.log('"change" event', e);
    },
    showInput(e) {
      if (this.debug) console.log('"input" event', e);
    }
  }
};
</script>

