<template>
  <nav>
    <v-snackbar v-model="snackbar" :timeout="3000" top color="success">
      <span>Awesome! You added a new project.</span>
      <v-btn color="white" flat @click="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-toolbar flat app>
      <v-toolbar-side-icon @click="drawer = !drawer" class="grey--text"></v-toolbar-side-icon>
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="font-weight-light">My</span>
        <span>DASH</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- dropdown menu -->
      <v-menu offset-y>
        <v-btn flat slot="activator" color="grey">
          <v-icon left>expand_more</v-icon>
          <span>Menu</span>
        </v-btn>
        <v-list>
          <v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
            <v-list-tile-title>{{ link.text }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>

      <v-btn @click="logout" flat color="grey">
        <span>Sign Out</span>
        <v-icon right>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>

    <v-navigation-drawer v-bind="testAttr" app v-model="drawer" class="primary">
      <v-layout row text-xs-center justify-center wrap mt-3>
        <v-flex xs10>
          <v-avatar size="50">
            <img src="@/assets/img_avatar.png">
          </v-avatar>
        </v-flex>
        <v-flex xs10 class="white--text" pt-1>{{username}}</v-flex>
      </v-layout>

      <v-divider class="white mt-3"></v-divider>
      <v-list>
        <v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
          <v-list-tile-action>
            <v-icon class="white--text">{{ link.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="white--text">{{ link.text }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import firebase from "firebase";

export default {
  //  components: { Popup },
  created() {
    console.log("ready");
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  data() {
    return {
      window: {
        width: 0,
        height: 0
      },
      isPermanent: false,
      username: firebase.auth().currentUser.email,
      drawer: false,
      links: [
        { icon: "dashboard", text: "Dashboard", route: "/home" },
        { icon: "folder", text: "My Projects", route: "/projects" },
        { icon: "person", text: "Test", route: "/test" },
        { icon: "person", text: "Toggle Boxes", route: "/toggle" },
        { icon: "person", text: "Data table", route: "/about" },
        { icon: "folder", text: "Image upload", route: "/upload" },
        { icon: "folder", text: "Cards", route: "/cards" },
        { icon: "folder", text: "Testing Custom Data Table", route: "/testingcdt" }
        
      ],
      snackbar: false
    };
  },

  computed: {
    testAttr() {
      return {
        permanent: this.isPermanent
      };
    }
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth;
      //console.log("window size" + this.window.width);
      if (this.window.width < 700) this.isPermanent = false;
      else this.isPermanent = true;
    },
    logout: function() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("login");
        });
    }
  }
};
</script>

<style>
</style>