<template>
  <v-dialog max-width="600px" v-model="dialog">
    <v-btn flat slot="activator" icon color="green" v-model="dialog" >
      <v-icon>{{btn_action}}</v-icon>
    </v-btn>
    
    <v-card class="pa-3">
      <FormValidation
        :data_collection="data_collection"
        @testEvent="testEvent"
        :btn_action="btn_action"
        action_name="save"
        :schema="schema"
        :dataObject="dataObject"
      />
    </v-card>
  </v-dialog>
</template>

<script>
import FormValidation from "@/components/FormValidation";

export default {
  created() {},
  components: { FormValidation },
  data() {
    return {
      dialog: null
    };
  },
  methods: {
    testEvent() {
      console.log("Test parent");
      this.dialog = false;
    }
  },
  props: [
    "title",
    "schema",
    "dataObject",
    "action-name",
    "btn_action",
    "data_collection"
  ]
};
</script>